{
    "extends": "kellyirc",
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "ecmaFeatures": {
        "jsx": true,
    },
    "rules": {
        "constructor-super": 2,
        "no-this-before-super": 2,
        "no-var": 2,
        "object-shorthand": [2, "always"],
        "prefer-const": 2,
        "react/jsx-uses-react": 2
    }
}
