/* Fill 100% and global defaults */
html, body, main {
  width: 100%;
  height: 100%;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
}

/* Appify for Electron */

* {
  cursor: default;
  -webkit-user-select: none;
}

input, textarea {
  -webkit-user-select: text;
}

form, input, optgroup, select, textarea {
  -webkit-user-select: text;
  -webkit-app-region:  no-drag;
}

/* Custom CSS Classes */

.f7 {
  font-size: .75rem;
}

.focus-b--light-gray:focus {
  border-color: var(--light-gray);
  transition: border-color .15s ease-in;
}

.flex-grow {
  flex: 1
}

.disabled {
  pointer-events: none;
}

.w-sidebar {
  width: 12rem;
}

.w-tiny {
  width: .75rem;
}

.h-tiny {
  height: .75rem;
}
